body {
    margin: 0;
    width: 100%;
    background-color: #6699CC;
}

.container {
    background-image: url(images/consultation.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 3%;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
}

#consultation {
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(5px);
    border-radius: 5px;
    max-width: 750px;
    justify-self: center;
    padding: 5%;
    display: grid;
    grid-template-areas:
        "brand brand"
        "services contact-us";
    
}

.page-links {
    margin-top: 2em;
}

#slogan {
    text-align: center;
    align-self: center;
}

.brand {
    grid-area: brand;
}

.services {
    grid-area: services;
}

.contact-us {
    grid-area: contact-us;
    justify-self: end;
    align-self: end;
    border-radius: 3px;
    a {
        padding: 15px;
        margin: 5px;
        font-size: 20px;
        border-radius: 5px;
        background-color: #003b6d;
        color:#BFBFBF;
    }
}

#nav-bar {
    padding: 0 1% 0 1%;
    color:#BFBFBF;
    li {
        width: fit-content;
    }
}

#banner {
    background-color: #6699CC;
    padding: 1%;
    font-size: 1.5em;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

#logo {
    margin: 5px;
    padding: 5px;
    width: 100%;
    max-width: 200px;
    background-color: #FFFFFF;
    border-radius: 3px;
}

.secondary {
    background-color: #003b6d;

}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-col {
    display: flex;
    flex-direction: column;
    text-align: center;
    h2 {
        border-bottom: 1px solid #333333;
    }
}

.nav {
    background-color: #BFBFBF;
    padding: 6px;
    margin: 5px;
    padding: 5px; 
    border-radius: 5px;
}

.grid-2 {
    display: grid;
    grid-template-columns: auto auto;
}

.front {
    justify-content: flex-start;
}

.back {
    justify-content: flex-end;
}

li {
    margin: 5px;
    padding: 5px; 
    border-radius: 5px;
}

.no-bullet {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #333333;
    font-weight: bold;
}

a img {
    width: 100%;
    height: auto;
    border: 1px solid #333333;
    border-radius: 3px;
}

.grid-3 {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    flex-direction: row;
    justify-content: space-evenly;
    border-radius: 3px;
}

nav a:hover, main a:hover, footer a:hover {
    color: #FFFFFF;
    opacity: 0.6;
}

ul {
    padding: 0;
    margin: 0;
}

.content {
    padding: 2em;
}

form {
    border: 2px solid #676767;
    border-radius: 6px;
    padding: 1em;
    margin: 2em;
    background-color: #BFBFBF;
    max-width: 700px;
    min-width: 525px;
    justify-self: center;
    h1 {
        text-align: center;
    }
}

fieldset {
    display: grid;
    grid-template-columns: 75px 1fr;
    justify-content: space-between;
    align-items: center;
    border: 2px solid #676767;
    border-radius: 3px;
    padding: 1em;
    margin-bottom: 1em;
}

label {
    display: inline-block;
    margin-bottom: 0.5em 0 0.5em 0;
    font-weight: bold;
    text-align: right;
    
}
input[type="text"], input[type="email"], input[type="tel"], input[type="number"] {
    padding: 0.5em;
    border: 1px solid #676767;
    border-radius: 3px;
    margin-bottom: 1em;
    margin-left: 1em;
}

input[type="submit"] {
    background-color: #003b6d;
    border-radius: 3px;
    color: #BFBFBF;
    font-weight: bold;
    cursor: pointer;
    padding: 0.5em 2em 0.5em 2em;
}

#submit {
    justify-self: end;
    width: fit-content;
}

footer {
    background-color: #003b6d;
    color: #BFBFBF;
    text-align: start;
    padding: 1em;
    margin-top: 2em;
    border-top: 2px solid black;
}

#footer {
    display: grid;
    grid-template-columns: 250px auto;
    margin-bottom: 2.5em;
    img {
        width: 220px;
    }
    a {
        color: #BFBFBF;
        text-decoration: none;
    }
    li {
        list-style-type: none;
    }
    ul {
        padding: 0;
        justify-self: center;
    }
}