body {
    margin: 0;
    width: 100%;
}

#nav-bar {
    
}

#banner {
    background-color: #003B6D;
    padding: 10px;
    color:#BFBFBF;
    font-size: 18px;
}

#logo {
    width: 35%;
    background-color: #FFFFFF;
    border-radius: 3px;
}

.secondary {
    background-color: #6699CC;
}

.flex {
    display: flex;
    flex-direction: row;
}

.button {
    background-color: #BFBFBF;
    padding: 6px;
}

.grid {
    display: grid;
    grid-template-columns: 50% 50%;
}

.front {
    justify-content: flex-start;
}

.back {
    justify-content: flex-end;
}

li {
    margin: 5px;
    padding: 5px;
    list-style-type: none;
    border-radius: 5px;
}

li a {
    text-decoration: none;
    color: #333333;
    font-weight: bold;
}

li a:hover {
    color: #FFFFFF;
}

ul {
    padding: 0;
    margin: 0;
}